::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
--header-height: 3rem;
--nav-width: 68px;
--first-color: #4377a9;
--first-color-light: #f4f4f4;
--white-color: #f4f4f4;
--body-font: 'Nunito', sans-serif;
--normal-font-size: 1rem;--z-fixed: 100
}
*,::before,::after{
    box-sizing: border-box
}
body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}
a{
    text-decoration: none
}
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;top: 0;
    left: 0;display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #f4f4f4;
    z-index: var(--z-fixed);transition: .5s
}
.header_toggle{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 22px;
}
.header_img{
    width: 300px;
    height: 75px
}
.container .input{
    border: 0;
    outline: none;
    color: #4377a9;
}
.search_wrap{
    width: 600px;
    margin: 30px auto;
}
.search_wrap .search_box{
    position: relative;
    width: 600px;
    height: 60px;
}
.search_wrap .search_box .input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}
.search_wrap .search_box .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #4377a9;
    z-index: 1;
    cursor: pointer;
}
.search_wrap .search_box .btn:hover{
    background: #32ab42;
}
.search_wrap .search_box .btn.btn_common .bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbb03b;
    font-size: 20px;
}
.search_wrap.search_wrap_2 .search_box .btn{
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.search_wrap.search_wrap_2 .search_box .input{
    padding-left: 80px;
}
.header .nav_logo-call{
    margin-top: 30px;
    color: #32ab42;
    margin-right: 10px;
    right: 30px;
}
.header .nav_logo .img{
    margin-top: 30px;
    color: #32ab42;
    margin-left: 10px;
    right: 300px;
}

.popup .content {
    position: absolute;
    top: 50%;
    transform: translate(+50%, +150%) scale(0);
    width: 350px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #dfdfdf;
    z-index: 1;
  }

  .popup .close-btn {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #87141a;
    font-size: 50px;
    border-radius: 50%;
  }

  .popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(+20%, +20%) scale(1);
  }

  h1 {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    color: rgb(0, 0, 0);
  }



  .input-field .validate {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    color: #000000;
    background: #ffffff;
    border: 2px solid rgb(214, 214, 214);
    width: 270px;
    outline: none;
  }

  .first-button {
    color: #f4f4f4;
    font-size: 14px;  
    border: none;
    background: #f4f4f4;
  }

  .first-button:active {
    background-color: #f4f4f4;
    color: #fff;
    border: none;
  }

  .second-button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    background: #05438f;
    transition: box-shadow .35s ease !important;
    outline: none;
  }

  .second-button:active {
    background: linear-gradient(145deg, #222222, #292929);
    border: none;
    outline: none;
  }

  p {
    color: #141414;
    padding: 20px;
  }



.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: 80px;
    height: 920px;
    background-color: #f4f4f4;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
 }
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_logo{
    margin-bottom: 2rem
}
.nav_logo-icon{
    font-size: 1.25rem;
    color: black
}
.nav_logo-name{
    color: black;
    font-weight: 700
}
.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}
.nav_link:hover{
    color: black
}
.nav_icon{
    font-size: 1.25rem
}
.show{
    left: 0
}
  
.active{
    color: black
}
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: black
}
.height-100{
    height:100vh
}

.main-section{
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, .7), rgba(15, 101, 172, 0.7), rgba(0, 0, 0, .7)), url("/img/banner.jpg");
    
    width: 1286px; 
    height: 734px;
    background-size: cover;
}
.main-section i{
    font-size:35px;
    color:#fff;
}
.main-section .section-part{
    color:#f4f4f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card{
    opacity: 0.9;
    margin-top: 45%;
    border-radius: 10px;
    width: 600px;
    height: 550px;
    left: 20px;
}
.card-body{
    background-color: #4377A9;
    border-radius: 10px;
    text-align: center;
    
}
.vider-fluid{
    width: 600px;
    height: 510px;
    margin: -17px;
    padding-top: 62px;
}      
        

/* Latest Produtcs */
.card1 {
    margin:50px 0px;
    width: 300px;
    height: 350px;
    background-color: #a7a3d2;
    font-family: 'Rubik', sans-serif
}

.card2 {
    height: auto;
    background-color: #f4f5fc;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 3px;
    padding: 20px
}

.carousel {
    margin-top: -20px !important
}

.card2 h5 {
    font-weight: 700
}

.card2 p {
    font-size: 13px;
    margin-top: -10px;
    color: #8b8b90
}

.button {
    position: relative
}

.button button {
    height: 30px;
    width: 80px;
    background-color: #f4f4f4;
    border: none;
    outline: 0;
    border-radius: 9px;
    font-size: 10px;
    color: #87141a;
    cursor: pointer;
    transition: all 0.5s
    
}

.button button:hover {
    background-color: #fbb03b;
    font-weight: bold;
    letter-spacing: 1px
}

.button p {
    position: absolute;
    right: 10px;
    top: 24px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s
}

.button:hover p {
    font-weight: bold !important;
    letter-spacing: 1px !important
}
.star-active {
	color: #FBC02D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.star-active:hover {
	color: #F9A825;
	cursor: pointer;
}

.explore{
    text-align: right;
    padding-right: 90px;
    
}

.cards-body{
    background-color: #4377A9;
    border-radius: 5px;
    text-align: center;
    height: 200px;
}
.cards-body p{
    margin-top: 50px;
}

.col-md-6.container .py-4{
    background-color: #4377A9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

    @media screen and (min-width: 768px){
        body{margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0rem)
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img{
        width: 40px;
        height: 40px
    }
    .header_img img
    {
        width: 100px
    }
    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show{
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd{
        padding-left: calc(var(--nav-width) + 188px)
    }
}





    


.footer-top, .footer-bottom {
    background-color: black;
}

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #87141A !important;
    color: #b0b0b0;
    font-family: rubik;
}


.footer-top{
    width: 1274px;
    height: 245px;
}
.footer-bottom ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}
#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}



#footer-socials {
    text-align: right;
}

#footer-socials .socials {
    text-align: right;
    margin: 0 -7px;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook {
    color: #4e64b5;
}

.twitter {
    color: #00aced;
}
.instagram {
    color: #9a8f62;
}
.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}


a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(129, 17, 17, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #fbb03b, rgba(10, 11, 100, 0.281));
}

.footer-bottom a:hover {
    color: white;
}


.footer-top.row {
    padding: 1em 1em;
  }
  .footer-top  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
 
.footer-top.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0em;
    min-height: 10em;
  }
.footer-top  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
.footer-top  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
.footer-top  li:not(:first-child) {
    margin-top: 0em;
  }
.footer-top  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
.footer-top  ul li a:hover {
    color: #c7940a;
  }